body {
    background-color: hsl(217, 54%, 11%);
}
p {
    font-family: outfit;
    font-size: 18px;
    color: hsl(215, 51%, 70%);
}
#first {
    background-color: hsl(217, 54%, 10.5%);
    width: 450px;
    height: 44rem;
    margin: auto;
    margin-top: 5%;
    padding: 40px 0;
    border-radius: 10%;
}
#second {
    width: 400px;
    background-color: hsl(216, 50%, 9%);
    margin: auto;
    height: 40rem;
    padding: 3px 0 20px 0;
    border-radius: 10%;
}
#content {
  position: relative;
  top: -7%;
  max-width: 350px;
  margin: auto;
  margin-top: 5%;
  height: 39rem;
  background: hsl(215, 32%, 20%);
  padding: 20px 20px 10px 10px;
  color: hsl(0, 0%, 100%);
  text-align: center;
  border-radius: 20px;
  z-index: 1;
}
.contant {
  position: relative;
  width: 50%;
  margin-left: 5px;
  border-radius: 10px;
}
.image {
  display: block;
  height: 20rem;
  border-radius: 10px;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsl(178, 100%, 50%);
  opacity: 0.5;
  overflow: hidden;
  width: 20rem;
  height: 0;
  border-radius: 10px;
  transition: .5s ease;
}
.contant:hover .overlay {
  height: 100%;
  cursor: pointer;
}
#heading {
    margin: 20px 0;
}
#heading:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
.line-1 {
    height: 1px;
    background: hsl(215, 51%, 70%);
}
.avatar {
    width: 10%;
    height: 10%;
    border: 1px solid hsl(215, 51%, 70%);
    border-radius: 50%;
    margin-right: 6px;
}
#jules {
    color: hsl(0, 0%, 100%);
}
#jules:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}